{% extends 'base.html' %}

{% block content %}
{%include "navbar.html"%}
<h1>{{topic.title}}</h1>
{% if request.user %}
    {% if not request.user in topic.prefers.all %}
    <br><form method="post" action="{% url 'topic_subscribe_url' topic.pk %}">
                {% csrf_token %}
                <input type="submit" value="Subscribe">
            </form></br>
    {% else %}
    <form method="post" action="{% url 'topic_unsubscribe_url' topic.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Unsubscribe">
                </form>
    {% endif %}
{% endif %}
<br></br>
<a>{{topic.description}}</a>
<br></br>
{% for article in article %}
<br><li><a href="{% url 'article_url' article.id %}">{{ article }}</a></li></br>
{% endfor %}
{% endblock %}