<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'register' %}">Registration</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'topics' %}">Main page</a>
      </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Blog information</a>
      </li>
        <li class="nav-item">
        <a href="{% url 'create' %}">To the create page</a>
      </li>
    </ul>
  </div>
</nav>